@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #ecf0f1;
	font-size: 16px;
}

.container{
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}
.container .box{
	width: 100%;
	max-width: 300px;
	margin: 10px auto;
	border-radius: 3px;
	border:1px solid;
	border-color:#3f5871;
	padding: 10px;
	color:white;
	background-color: #496d90;
}
.container .box .header{
	width: 100%;
}
.container .box .header .name{
	padding: 5px 10px;
	font-size: 1.1em;
	text-align: center;
	border-radius: 3px;
	background: #ecf0f1;
	color: #353232;
	border:1px solid #505254;
}
.container .box .header .photo{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin:0 auto;
	margin-bottom: 10px;
}
.container .box .header .photo img{
	max-width: 100%;
}
.container .box .body p{
	font-size: 0.9em;
	text-align: center;
	padding-top: 5px;
	color:#ecf0f1;
}
