.header{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 30px;
}
.codes{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.thumbnail .description{
	height: 140px;
	overflow: hidden;
}
input{
	outline: none;
}