@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
body{
	background-color: #d7f1ff;
}
.container{
	margin: 10px auto;
	width: 100%;
	max-width: 900px;
    column-count:4;
    column-rule: 1px solid #024467;
    column-gap: 2em;
}
.container p{
	text-align: center;
	font-size: 12px;
}
.container .title{
    column-span:all;
	color: #024467;
	margin-bottom: 10px;
}
.container img{
    column-span:all;
	display: block;
	width: 100%;
	margin:5px 0;
}

@media screen and (min-width: 800px) and (max-width: 1200px){
	.container{
		column-count:3;
	}
	.container img{
    column-span:none;
	width: 100%;
	margin:5px 0;
	}
}